@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Qb Rankings</h1>
    <p>Go Lions</a>.</p>
    <table>
        <tr>
            <td> Matt Ryan </td>
            <td> Tom Brady </td>
            <td> Ben Roethlisberger </td>
        </tr>
    </table>
</div>
